@model Domain.Entities.Order

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Fatura</title>
    <link rel="stylesheet" href="~/Admin/css/style.css"/>
    <link rel="stylesheet" href="~/Admin/vendor/bootstrap/css/bootstrap.ltr.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i"/>
</head>
<body>
<div id="top" class="sa-app__body">
   <div class="sa-invoice">
      <div class="sa-invoice__card">
         <div class="sa-invoice__header">
            <div class="sa-invoice__meta">
               <div class="sa-invoice__title">Fatura #@Model.OrderNumber</div>
               <div class="sa-invoice__meta-items">
                  <span>Data Leshimit:</span> @Model.OrderDate.ToString("F")<br/>
                  <span>Deri me:</span> @Model.OrderDate.AddDays(14).ToString("D")<br/>
               </div>
            </div>
            <div class="sa-invoice__logo">
               <!-- invoice-logo -->
               <div class="sa-invoice-logo">
                  <div class="sa-invoice-logo__body">
                     <div class="sa-invoice-logo__letters">
                        <img src="~/Client/assets/images/logo.png" alt="logo">
                     </div>
                     <div class="sa-invoice-logo__ribbon">
                        <div class="sa-invoice-logo__ribbon-start">
                           <svg xmlns="http://www.w3.org/2000/svg" width="4" height="20" viewBox="0 0 4 20">
                              <path d="M4,0v20H1.5C0.7,20,0,19.1,0,18s0.7-2,1.5-2S3,15.1,3,14s-0.7-2-1.5-2S0,11.1,0,10s0.7-2,1.5-2S3,7.1,3,6S2.3,4,1.5,4S0,3.1,0,2s0.7-2,1.5-2H4z"></path>
                           </svg>
                        </div>
                        <div class="sa-invoice-logo__ribbon-middle">Technocy eCommerce </div>
                        <div class="sa-invoice-logo__ribbon-end">
                           <svg xmlns="http://www.w3.org/2000/svg" width="4" height="20" viewBox="0 0 4 20">
                              <path d="M4,0v20H1.5C0.7,20,0,19.1,0,18s0.7-2,1.5-2S3,15.1,3,14s-0.7-2-1.5-2S0,11.1,0,10s0.7-2,1.5-2S3,7.1,3,6S2.3,4,1.5,4S0,3.1,0,2s0.7-2,1.5-2H4z"></path>
                           </svg>
                        </div>
                        <div class="sa-invoice-logo__ribbon-drawer">
                           <svg xmlns="http://www.w3.org/2000/svg" width="32" height="24" viewBox="0 0 32 24">
                              <path class="sa-roller-sponge" d="M4.5,24h-3C0.7,24,0,23.3,0,22.5v-17C0,4.7,0.7,4,1.5,4h3C5.3,4,6,4.7,6,5.5v17C6,23.3,5.3,24,4.5,24z"></path>
                              <path class="sa-roller-stripes" d="M0,20l6-2v2l-6,2V20z M0,14l6-2v2l-6,2V14z M0,8l6-2v2l-6,2V8z"></path>
                              <path class="sa-roller-handle" d="M30.8,18H20c0,0.6-0.4,1-1,1h-1c-0.6,0-1-0.4-1-1v-2h-2.6c-0.7,0-1.3-0.4-1.4-1.1L9.2,2H4v2H2V1.5
                                 C2,0.7,2.7,0,3.5,0h6.1c0.7,0,1.3,0.4,1.4,1.1L14.8,14H17v-1c0-0.6,0.4-1,1-1h1c0.6,0,1,0.4,1,1h10.8c0.7,0,1.2,0.5,1.2,1.2v2.6
                                 C32,17.5,31.5,18,30.8,18z"></path>
                           </svg>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- invoice-logo / end -->
            </div>
         </div>
         <div class="sa-invoice__sides">
            <div class="sa-invoice__side">
               <div class="sa-invoice__side-title">Fatura për</div>
               <div class="sa-invoice__side-name">@Model.ShipName @Model.ShipSurname</div>
               <div class="sa-invoice__side-meta">@Model.ShipAddress, @Model.ShipCity, @Model.ShipPostalCode @Model.ShipCountry<br/>@Model.ShipPhone, @Model.ShipEmail</div>
            </div>
            <div class="sa-invoice__side">
               <div class="sa-invoice__side-title">Fatura Nga</div>
               <div class="sa-invoice__side-name">Technocy Ltd.</div>
               <div class="sa-invoice__side-meta">Hajrullah Abdullahu, Prishtinë 10000 Kosovë<br/>+383 49 200 236, info@technocy.com</div>
            </div>
         </div>
         <div class="sa-invoice__table-container">
            <table class="sa-invoice__table">
               <thead class="sa-invoice__table-head">
                  <tr>
                     <th class="sa-invoice__table-column--type--product">Produkti / Shërbimi</th>
                     <th class="sa-invoice__table-column--type--unit">Njësia</th>
                     <th class="sa-invoice__table-column--type--price">Cmimi</th>
                     <th class="sa-invoice__table-column--type--quantity">Sasia</th>
                     <th class="sa-invoice__table-column--type--total">Totali</th>
                  </tr>
               </thead>
               <tbody class="sa-invoice__table-body">
                  @foreach (var item in Model.OrderDetails)
                  {
                     <tr>
                        <td class="sa-invoice__table-column--type--product">@item.Product.Name</td>
                        <td class="sa-invoice__table-column--type--unit">Copë</td>
                        <td class="sa-invoice__table-column--type--price">@item.Price.ToString("#,##0.00") €</td>
                        <td class="sa-invoice__table-column--type--quantity">@item.Quantity</td>
                        <td class="sa-invoice__table-column--type--total">@Model.Total.ToString("#,##0.00") €</td>
                     </tr>
                  }
               </tbody>
               <tbody class="sa-invoice__table-totals">
                  <tr>
                     <th class="sa-invoice__table-column--type--header" colSpan="4">Subtotali</th>
                     <td class="sa-invoice__table-column--type--total">@Model.SubTotal.ToString("#,##0.00") €</td>
                  </tr>
                  <tr>
                     <th class="sa-invoice__table-column--type--header" colSpan="4">Transporti</th>
                     <td class="sa-invoice__table-column--type--total">5 €</td>
                  </tr>
                  <tr>
                     <th class="sa-invoice__table-column--type--header" colSpan="4">Zbritje</th>
                     <td class="sa-invoice__table-column--type--total">@Model.Total.ToString("#,##0.00") €</td>
                  </tr>
               </tbody>
            </table>
         </div>
         <div class="sa-invoice__total">
            <div class="sa-invoice__total-title">Shuma Totale:</div>
            <div class="sa-invoice__total-value">@Model.Total.ToString("#,##0.00") €</div>
         </div>
         <div class="sa-invoice__disclaimer">Informacioni mbi karakteristikat teknike, grupin e dorëzimit, vendin e prodhimit dhe pamjen e mallrave është vetëm për referencë dhe bazohet në informacionin më të fundit të disponueshëm në kohën e publikimit.</div>
      </div>
   </div>
</div>

<script src="~/Admin/js/stroyka.js"></script>
<script src="~/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Admin/vendor/jquery/jquery.min.js"></script>
<script>
   $(document).ready(function() {
     window.print();
   })
</script>
</body>
</html>