@using WebUI.Helpers
@using Application.admin
@inject CategoryManager _categoryManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer _localizer
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Technocy - eCommerce</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="~/Client/assets/images/favicon.png">

    <script src="~/Client/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/Client/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/Client/assets/css/vendor/line-awesome.css">
    <link rel="stylesheet" href="~/Client/assets/css/vendor/themify.css">
    <link rel="stylesheet" href="~/Client/assets/css/plugins/animate.css">
    <link rel="stylesheet" href="~/Client/assets/css/plugins/owl-carousel.css">
    <link rel="stylesheet" href="~/Client/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="~/Client/assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="~/Client/assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="~/Client/assets/css/style.css">
    <script src="https://js.stripe.com/v3/"></script>
</head>

@{
    var cart = Context.Session.GetObjectFromJson<List<Cart>>("cart");
}
<body>
    <div class="main-wrapper">
        <header class="header-area header-padding-4">
            <div class="main-header-wrap">
                <div class="header-top pt-15 pb-15 bg-black-3">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="welcome">
                                    <p>@_localizer["welcome"]</p>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="setting-wrap-2">
                                    <div class="setting-content2-left">
                                        <partial name="_Culture" />
                                    </div>
                                    <div class="setting-content2-right">
                                        @if (User.Identity is {IsAuthenticated: true})
                                        {
                                            <a asp-controller="Wishlist" asp-action="Index">@_localizer["listaDeshirave"]</a>    
                                            <a asp-controller="Profile" asp-action="Index">@User.Identity.Name?.ToUpper()</a>
                                            <a asp-controller="Account" asp-action="LogOff">@_localizer["ckycu"]</a>
                                        }
                                        else
                                        {
                                            <a asp-controller="Account" asp-action="Login">@_localizer["kycu"]</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-middle border-top-2 pt-30 pb-30 bg-black-3">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-lg-2">
                                <div class="logo">
                                    <a asp-controller="Home" asp-action="Index">
                                        <img src="~/Client/assets/images/logo.png" width="155" height="34" alt="logo"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="header-contact-search-wrap">
                                    <div class="header-contact">
                                        <ul>
                                            <li><i class="la la-phone"></i> +383 49 200 236</li>
                                            <li><i class="la la-comments-o"></i> <a href="#">contact@technocy.com</a></li>
                                        </ul>
                                    </div>
                                    <div class="search-style-3">
                                        <form>
                                            <div class="form-search-3">
                                                <input id="search" class="input-text" value="" placeholder="@_localizer["kerkoHome"]" type="search">
                                                <button>
                                                    <i class="la la-search"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 position-relative">
                                <div class="cart-wrap cart-wrap-3">
                                    <button class="cart-active">
                                        <i class="la la-shopping-cart"></i> <br>
                                        <span class="mini-cart-price-3" hidden="hidden">$400.00</span>
                                        <span class="count-style-3" hidden="hidden">1</span>
                                    </button>
                                    <div class="shopping-cart-content">
                                        <div class="shopping-cart-top">
                                            <h4>@_localizer["shportaJuaj"]</h4>
                                            <a class="cart-close" href="#"><i class="la la-close"></i></a>
                                        </div>
                                        <ul>
                                            @if (Context.Session.GetObjectFromJson<List<Cart>>("cart") != null)
                                            {
                                                @foreach(var item in cart)
                                                {
                                                    <li class="single-shopping-cart">
                                                        <div class="shopping-cart-img">
                                                            <a asp-controller="Products" asp-action="Product" asp-route-slug="@item.Product.Slug">
                                                                <img alt="" src="@item.Product.ProductGalleries.FirstOrDefault()?.URL" style="object-fit: contain;width: 50px;height: 50px">
                                                            </a>
                                                            <div class="item-close">
                                                                <a href="#"><i class="sli sli-close"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="shopping-cart-title">
                                                            <h4 style="width: 160px"><a href="#">@(item.Product.Name[..30])...</a></h4>
                                                            <span>@item.Product.Price.ToString("#,##0.00")€</span>
                                                        </div>
                                                        <div class="shopping-cart-delete">
                                                            <a href="#"><i class="la la-trash"></i></a>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <h4>@_localizer["shportaZbrazet"]</h4>
                                            }
                                        </ul>
                                        <div class="shopping-cart-bottom">
                                            <div class="shopping-cart-total">
                                                @{
                                                    decimal subtotali = 0;
                                                    if (cart != null)
                                                    {   
                                                        subtotali = cart.Sum(item => item.Product.Price * item.Quantity);
                                                    }
                                                }
                                                <h4>@_localizer["subtotali"] <span class="shop-total">@subtotali.ToString("#,##0.00")€</span></h4>
                                            </div>
                                            <div class="shopping-cart-btn btn-hover default-btn text-center">
                                                <a class="black-color" asp-controller="Checkout" asp-action="Index">@_localizer["vazhdoPagese"]</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="header-bottom sticky-bar">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-center">
                                <div class="main-menu menu-common-style menu-lh-4 menu-margin-5 menu-font-2">
                                   @{
                                       var categories = _categoryManager.GetCategories().Where(x=>x.Visibility);
                                       await Html.RenderPartialAsync("_Categories",categories);
                                   } 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-small-mobile">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <div class="mobile-logo">
                                <a asp-controller="Home" asp-action="Index">
                                    <img alt="" src="~/Admin/images/print-logo.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="header-right-wrap">
                                <div class="cart-wrap common-style">
                                    <button class="cart-active">
                                        <i class="la la-shopping-cart"></i>
                                        <span class="count-style">@cart?.Count @_localizer["produkte"]</span>
                                    </button>
                                    <div class="shopping-cart-content">
                                        <div class="shopping-cart-top">
                                            <h4>@_localizer["shportaJuaj"]</h4>
                                            <a class="cart-close" href="#"><i class="la la-close"></i></a>
                                        </div>
                                        <ul>
                                            @if (cart != null)
                                            {
                                                foreach (var item in cart)
                                                {
                                                    <li class="single-shopping-cart">
                                                        <div class="shopping-cart-img">
                                                            <a asp-controller="Products" asp-action="Product" asp-route-slug="@item.Product.Slug">
                                                                <img alt="" src="@item.Product.ProductGalleries.FirstOrDefault()?.URL" 
                                                                     style="width: 30px;height: 40px;object-fit: contain">
                                                            </a>
                                                            <div class="item-close">
                                                                <a href="#"><i class="sli sli-close"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="shopping-cart-title">
                                                            <h4><a asp-controller="Products" asp-action="Product" asp-route-slug="@item.Product.Slug">@item.Product.Name</a></h4>
                                                            <span>@item.Product.Price.ToString("#,##0.00") €</span>
                                                        </div>
                                                        <div class="shopping-cart-delete">
                                                            <a href="#"><i class="la la-trash"></i></a>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <div>
                                                    @_localizer["shportaZbrazet"]
                                                </div>
                                            }
                                        </ul>
                                        <div class="shopping-cart-bottom">
                                            <div class="shopping-cart-total">
                                                <h4>Subtotali <span class="shop-total">@subtotali.ToString("#,##0.00") €</span></h4>
                                            </div>
                                            <div class="shopping-cart-btn btn-hover default-btn text-center">
                                                <a class="black-color" asp-controller="Checkout">@_localizer["vazhdoPagese"]</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mobile-off-canvas">
                                    <a class="mobile-aside-button" href="#">
                                        <i class="la la-navicon la-2x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="mobile-off-canvas-active">
            <a class="mobile-aside-close"><i class="la la-close"></i></a>
            <div class="header-mobile-aside-wrap">
                <div class="mobile-search">
                    <form class="search-form" action="#">
                        <input type="text" placeholder="@_localizer["kerkoniProdukte"]">
                        <button class="button-search"><i class="la la-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap">
                    <div class="mobile-navigation">
                        @{
                            await Html.RenderPartialAsync("_CategoriesMobile",categories);
                        }
                    </div>
                </div>
                <div class="mobile-curr-lang-wrap">
                    <div class="single-mobile-curr-lang">
                        <a class="mobile-language-active" href="#">@_localizer["gjuha"] <i class="la la-angle-down"></i></a>
                        <div class="lang-curr-dropdown lang-dropdown-active">
                            <ul>
                                <li><a href="#">Shqip (SQ)</a></li>
                                <li><a href="#">English (US)</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-mobile-curr-lang">
                        <a class="mobile-currency-active" href="#">@_localizer["monedha"] <i class="la la-angle-down"></i></a>
                        <div class="lang-curr-dropdown curr-dropdown-active">
                            <ul>
                                <li><a href="#">EUR</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-mobile-curr-lang">
                        <a class="mobile-account-active" asp-controller="Profile" asp-action="Index">@_localizer["llogariaIme"] <i class="la la-angle-down"></i></a>
                        <div class="lang-curr-dropdown account-dropdown-active">
                            <ul>
                                <li><a asp-controller="Account" asp-action="Login">@_localizer["kycu"]</a></li>
                                <li><a asp-controller="Account" asp-action="Register">@_localizer["regjistrohu"]</a></li>
                                <li><a asp-controller="Profile" asp-action="Index">@_localizer["llogariaIme"]</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mobile-social-wrap">
                    <a class="facebook" href="#"><i class="ti-facebook"></i></a>
                    <a class="twitter" href="#"><i class="ti-twitter-alt"></i></a>
                    <a class="pinterest" href="#"><i class="ti-pinterest"></i></a>
                    <a class="instagram" href="#"><i class="ti-instagram"></i></a>
                    <a class="google" href="#"><i class="ti-google"></i></a>
                </div>
            </div>
        </div>
        
        @RenderBody()
        
        <footer class="footer-area bg-black-3 pt-100 section-padding-4">
            <div class="container-fluid">
                <div class="footer-top pb-60">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12 col-sm-6">
                            <div class="footer-widget footer-contact-wrap-2 mb-40">
                                <a href="#"><object data="~/Client/assets/images/logo.svg" width="185" height="64"></object></a>
                                <div class="footer-contact-content-2">
                                    <h5>@_localizer["infoKontakt"]</h5>
                                    <div class="footer-info-hm5">
                                        <span>@_localizer["telefoni"]</span>
                                        <p>+880-123 445 555</p>
                                    </div>
                                    <div class="footer-info-hm5">
                                        <span>@_localizer["email"]</span>
                                        <p><a href="#">contact@technocy.com</a></p>
                                    </div>
                                    <div class="footer-social-hm5">
                                        <span>@_localizer["naNdiqni"]</span>
                                        <ul>
                                            <li><a href="#">Facebok</a></li>
                                            <li><a href="#">Twitter</a></li>
                                            <li><a href="#">Linkedin</a></li>
                                            <li><a href="#">Instagram</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-12 col-sm-6">
                            <div class="footer-widget mb-40 ml-55 mrg-md-footer">
                                <div class="footer-title-4">
                                    <h3>@_localizer["linqet"]</h3>
                                </div>
                                <div class="footer-list-4">
                                    <ul>
                                        <li><a asp-controller="Wishlist" asp-action="Index">@_localizer["listaDeshirave"]</a></li>
                                        <li><a asp-controller="Checkout" asp-action="Index">@_localizer["pagesa"]</a></li>
                                        <li><a asp-controller="Cart" asp-action="Index">@_localizer["shporta"]</a></li>
                                        <li><a asp-controller="Checkout" asp-action="Index">@_localizer["arka"]</a></li>
                                        <li><a href="#">@_localizer["transporti"]</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12 col-sm-6">
                            <div class="footer-widget mb-40 ml-200">
                                <div class="footer-title-4">
                                    <h3>@_localizer["mbeshtetja"]</h3>
                                </div>
                                <div class="footer-list-4">
                                    <ul>
                                        <li><a href="#">@_localizer["mbeshtetjaKonsumatorit"]</a></li>
                                        <li><a href="#">@_localizer["politikatTransportit"]</a></li>
                                        <li><a href="#">@_localizer["kthimet"]</a></li>
                                        <li><a href="#">@_localizer["statusiPorosise"]</a></li>
                                        <li><a href="contact.html">@_localizer["kontakti"]</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12 col-sm-6">
                            <div class="footer-widget mb-40 f-right">
                                <div class="footer-title-4">
                                    <h3>@_localizer["rrethNesh"]</h3>
                                </div>
                                <div class="footer-list-4">
                                    <ul>
                                        <li><a href="#">Technocy</a></li>
                                        <li><a href="#">@_localizer["privatesia"]</a></li>
                                        <li><a href="#">@_localizer["terms"]</a></li>
                                        <li><a href="#">@_localizer["whyUs"]</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom pt-20 pb-20 border-top-3">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="copyright-5">
                                <p>Copyright © <a href="#">Technocy</a>. @_localizer["rights"]</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="footer-payment footer-payment2">
                                <a href="#"><img src="~/Client/assets/images/icon-img/payment-method.png" alt="logo"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- JS
============================================ -->


    <!-- Modernizer JS -->
    <script src="~/Client/assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <!-- Popper JS -->
    <script src="~/Client/assets/js/vendor/popper.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Client/assets/js/vendor/bootstrap.min.js"></script>
    <!-- Slick Slider JS -->
    <script src="~/Client/assets/js/plugins/countdown.js"></script>
    <script src="~/Client/assets/js/plugins/counterup.js"></script>
    <script src="~/Client/assets/js/plugins/images-loaded.js"></script>
    <script src="~/Client/assets/js/plugins/isotope.js"></script>
    <script src="~/Client/assets/js/plugins/instafeed.js"></script>
    <script src="~/Client/assets/js/plugins/magnific-popup.js"></script>
    <script src="~/Client/assets/js/plugins/owl-carousel.js"></script>
    <script src="~/Client/assets/js/plugins/scrollup.js"></script>
    <script src="~/Client/assets/js/plugins/waypoints.js"></script>
    <script src="~/Client/assets/js/plugins/slick.js"></script>
    <script src="~/Client/assets/js/plugins/wow.js"></script>
    <script src="~/Client/assets/js/plugins/textillate.js"></script>
    <script src="~/Client/assets/js/plugins/elevatezoom.js"></script>
    <script src="~/Client/assets/js/plugins/sticky-sidebar.js"></script>
    <script src="~/Client/assets/js/plugins/smoothscroll.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Main JS -->
<script src="~/Client/assets/js/main.js"></script>
@await Component.InvokeAsync("Notyf")
</body>
</html>

<script>
$(document).ready(function (){
        $.ajax({
            type: "GET",
            url: "/cart/cartdetails",
            success: function(response) {
                if (response.items > 0){
                    let count = $('.count-style-3');
                    let total = $('.mini-cart-price-3');
                    count.text(response.items);  
                    total.text(response.total+"€")
                    count.attr('hidden',false); 
                    total.attr('hidden',false); 
                }
            },
            error: function(err) {
              console.error(err);
            }
        })
    })
</script>